.image {
  position: relative;
  margin-top: -180px;
}
.container {
  border: 1px solid #eee;
}

.container img {
  background: #eee;
}

.container:hover img {
  opacity: 0.05;
  z-index: -1;
  transition: transform .5s ease;
  transform: scale(1.40);
}

.buyButton {
  width: 40%;
}

.container:hover .priceContainer span {
  transform: scale(1.5);
  font-weight: bolder;
}

.container:hover .nameContainer span {
  font-weight: bolder;
}


