.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}

.flexRow--bf-lp-banner {
  background: url(https://www.iwantwallpaper.co.uk/images/arthouse-vip-black-brick-wall-pattern-faux-stone-effect-motif-mural-wallpaper-623007-p2130-4065_image.jpg);
  background-size: "150px";
}

.flexRow--product-main {
  background-color: #ffb30f;
}
